<div class="each">
 <div class="row">
  <% travels.each do |travel| %>
    <div class="col-xs-4">
     <div class="each-image">
      <div class="travels-ti">
      <b>@タイトル _ <%= travel.title %></b></div>
      <%= link_to (travel) do %>
      <%= attachment_image_tag travel, :travel_image, :fill, 350, 300, fallback: "travel-no-image-mini.jpg" %>
      <% end %><br>
     </div> 
    </div>
  <% end %>
 </div>
</div>
