<% if resource.errors.any? %>
  <div class="error">
    <div id="error__message">
      <p>
        <%= I18n.t("errors.messages.not_saved",
          count: resource.errors.count,
          resource: resource.class.model_name.human.downcase)
        %>
      </p>
    <div class="error__text">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
    </div>
  </div>
<% end %>

