<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<h2 class="head-title5">〜 マイページ 〜</h2>
		</div>
	</div>
	<%= render 'users/profile', user: @user %>
	<div class="user-show">
		<p><b>#過去に投稿したアイテム</b></p>
	</div>
	<%= render 'travels/list', travels: @travels %>

