<% breadcrumb :about %>
  <%# <a href="/"><div class="about__logo"></div></a> %>
  <%= video_tag "Travel1.mp4", class: "landing-video", loop: true, autoplay: true, muted: true, style:""%>
<div class="about">
  <div class="about__title">ABOUT</div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="primary-title" style="background-color: white;">
          <p><b>アプリの紹介♪</b></p>
      <div class="col-xs-12">
        <h3 class="about-title1"><b>・サイト概要</b></h3>
      </div>
      <div class="col-xs-12">
        <p class="about-name">旅行の準備・思い出の共有ができるアプリです。</p>
      </div>

    <div class="row">
      <div class="col-xs-12">
        <h3 class="about-title2"><b>・サイトテーマ</b></h3>
      </div>
      <div class="col-xs-12">
        <p class="about-name2">　旅行に行ったのに忘れ物をしてしまった、もう少しスケジュールをしっかり立ててたら時間を<br>　無駄にしなかっのになど後悔の無い楽しい旅行をサポートします!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3 class="about-title3"><b>・ターゲットユーザ</b></h3>
      </div>
      <div class="col-xs-12">
        <p class="about-name">　旅行好きな人やこれから一人旅をしたい人</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3 class="about-title4"><b>・主な利用シーン</b></h3>
      </div>
      <div class="col-xs-12">
        <p class="about-name">　旅行前の計画や旅の思い出の振り返りができる</p>
      </div>
    </div>

  </div>
</div>