<div class="main">
<div class="main-visual">
	<div class="main-visual-content">
		<p class="main-visual-text">
		TRAVEL
		  TO THE
		   FUTURE
		</p>
		<p class="main-visual-name">
        〜 Let's go on the best trip 〜
      </p>
	</div>
</div>
<div class="flex">
  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
</div>
</div>