<div class="row">
	<div class="main-title">
		<p class="text1"><b>旅の計画・振り返りができるアプリです。</b></p>
	</div>
	<div class="col-xs-12">
		<div class="main-visual">
		<div class="main-visual-content">
			<p class="main-visual-text">
			TRAVEL TO THE FUTURES
			</p>
			<p class="main-visual-name">
        	〜 Let's go on the best trip 〜
      		</p>
		</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box7" style="background-color: #FFC0CB;">
			<p class="text5"><b>〜機能紹介〜</b></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div class="box1">
				<p class="boxy-title1">Step 1</p>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="box1-title">
				<h3 class="titles1"><b>Step 1：自分だけのワクワクする旅を！</b></h3>
				<br>
				<h4 style="padding-left:10px;">
					<b>・旅のイメージにタイトルをつけよう。</b>
				</h4>
				<p style="padding-left:30px;">テーマをつけると旅が待ち遠しくなります。<br>（例）京都世界遺産巡りの旅、北海道の海の幸を食べ尽くす旅</p>
				<h4 style="padding-left:10px;"><b>・旅のテーマを表紙にしよう。</b>
				</h4>
				<p style="padding-left:30px;">好きな画像を表紙にして、自分だけのワクワクしおりのできあが<br>り！</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-8">
			<div class="box2-title">
				<h3 class="titles2"><b>Step 2：計画を立てて楽しもう！</b>
				</h3>
				<br>
				<h4 style="padding-left:20px;"><b>・準備を整えて旅に出よう。</b></h4>
				<p style="padding-left:30px;">　持ち物チェック機能で忘れ物のない旅を！<br>　忘れがちなお土産もチェックしておこう！</p>
				<h4 style="padding-left:20px;"><b>・スケジュール機能で時間管理もできる。</b>
				</h4>
				<p style="padding-left:30px;">　限られた旅の時間を有効活用！<br>　ついつい予定を詰め込みすぎて後悔、なんてこともありません。</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="box2">
				<p class="boxy-title2">Step 2</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="box3">
				<p class="boxy-title3">Step 3</p>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="box3-title">
				<h3 class="titles3"><b>Step 3:旅の思い出をシェアしよう！</b>
				</h3>
				<br>
				<h4 style="padding-left:20px;"><b>・最高の旅の思い出を投稿しよう</b>
				</h4>
				<p style="padding-left:45px;">投稿機能で旅の思い出をシェアできる
					<br>いいねやコメントで思い出を共有できる</p>
					<h4>
						<b style="padding-left:20px;">・みんなと旅で繋がろう！</b>
					</h4>
					<p style="padding-left:45px;">みんなの旅の投稿にもいいねやコメントができる。<br>次の旅のヒントになるかも。</p>
			</div>
		</div>
	</div>
</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box6">
				<p class="titles4"><b><a href="/users/sign_up", style="color: blue; border-bottom: 1px solid blue">
          こちら</a>
          から新規登録を行ってください。
        </p></b></p>
			</div>
		</div>
	</div>