<div class="main-visual">
	<div class="main-visual-content">
		<p class="main-visual-text">
		TRAVEL
		  TO THE
		   FUTURE
		</p>
		<p class="main-visual-name">
        〜最高の旅に出かけよう〜
      </p>
	</div>
</div>
	<div class="talk">
		<p>このアプリは旅行を記録し、シェアできるアプリです。</p>