@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";
@import "home";
@import "comments";
@import "maps";
@import "preparations";
@import "schedules";
@import "shioris";
@import "skippr";
@import "souvenirs";
@import "travels";
@import "users";
@import "breakpoints/base";
@import 'modules/mixin';

@media (min-width: 600px) {
	@import "breakpoints/600up";
}
@media (min-width: 960px) {
  @import "breakpoints/960up";
}
@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}
// 全体のレイアウト
.header {
	display: none;
}


@media only screen and (max-width: 768px) {
  // スマホの場合のcss
	//ハンバーガーメニュー
	#sp-menu {
		width: 60%;
		margin-left: 40%;
	}
	//homeのページ
	.main-visual {

	 &__content{
		 padding-top: 30%;
	 }
	
	 &__text{
		 font-size:45px;
		 margin-left: 5%;
	 }
	
	 &__texts{
		 font-size:45px;
		 margin-left: 13%;
		 margin-top: 0;
	 }
	
	 &__sub-text{
		margin-top: 15px;
		font-size:20px;
		text-align: left;
		margin-left:12%;
	 }
	}
	.colona{
		width: 70%;
		margin-top: 25px;
		border-radius: 5px;
		&__text{
			font-size: 12px;
		}
	 }
	 .top-signup{
		width: 80%;
		margin-top: 25px;
		border-radius: 5px;
		&__text{
			font-size: 10px;
		}
	 }
	 //footer
	.logo {
			margin-bottom: 10px;
			margin-top: 20px;
		}
	
 
	.footer {
		width: 100%;
		padding: 5px 10px;
		&__nav {
			padding-top: 5px;
			font-size: 15px;
		}
		&__li {
			margin: 10px;
		}
		&__copyright {
			padding-bottom: 5px;
			padding-left: 8px;
		}
	}
	.link {
		color:black;
		font-weight: bold;
	}
	.anding-video {
		height: 800px;
	}
	.about {
		&__logo {
			width: 65px;
			height: 30px;
			margin-top: 10px;
			margin-bottom:10px;
		}
		&__title {
			font-size: 20px;
			padding-bottom: 10px;
			padding-top: 10px;
		}
	}
	.login {
		width: 90%;
		&__title {
			font-size: 20px;
			margin-top: 0;
		}
	}

	.form-group{
		margin-bottom: 0px;
		padding-top: 15px;
		padding-bottom: 5px;
		margin-left: 20%;
		font-size: 14px;
		/* 必須 */ 
		&__area {
			margin: 0 auto;
		}
		/* 入力フォーム */
		&__input{
			width: 80%;
			margin: 8px 0 0;
			height: 48px;
			margin-right: 5%;
			padding: 5px;
			border-radius: 4px;
			border: 1px solid #ccc;
			background: #fff;
			line-height: 1.5;
			font-size: 10px;
			box-sizing: border-box;
			margin-bottom: 10px;
		}
	}
	 /* ボタン */
	.action {
		width: 70%;
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 5%;
	&__link {
		margin-top: 15px;
		font-size: 14px;
		margin-left: 2%;
		margin-bottom: 20px;
	}
	}
	// .inview {
	// 	display: none;
	// }
	.main-title {
		font-size: 22px;
	}
	.sub-title {
		font-size: 15px;
	}
	.travel__description {
		font-size: 16px;
	}
	.sign__title {
		font-size: 20px;
	}
	.sign__title p {
		font-size: 15px;
	}
	//User_Editのimgプレビュー
	.post__edit {
		width: 380px;
		background-color: #fff;
		padding-top: 0px;
		&__title {
			font-size: 25px;
			background-color: #fff;
		}
		&__btn {
			width: 300px;
			margin-left: 5%;
		}
	}
	.post__edit p {
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.product-form{
		width: 100%;
		height: 60px;
		margin-bottom: 15px;
	}
	.product-introduction-form {
		width: 100%;
		height: 250px;
		padding: 5px;
	}
	.mypage {
		width: 100%;
	}
	.mypage{
		width: 80%;
		margin: 0 auto;
		&__profile{
			width: 100%;
			margin: 0 auto;
			padding-top: 30px;
			&__post {
				font-size: 20px;
				text-align: center;
				margin-top: 20px;
			}
			&__title {
				font-size: 30px;
				font-weight: bold;
				padding-bottom: 10px;
			}
		}
	}
	.mypage{
		&__profile{
			&__post {
				font-size: 18px;
			}
			&__title {
				padding-bottom: 15px;
			}
		}
	}
	.margin b {
		font-size: 16px;
	}
	.margin p {
		font-size: 14px;
		margin-top: 3px;
	}
	.mypage-post-index {
		width: 80%;
		margin-left: 13%;
	}
	.each-images {
		margin-right: 8%;
	}
	.search {
		padding-top: 10px;
		padding-right: 35%;
	}
	.serch-form{
		width: 50%;
	}
	.travel {
		width: 100%;
	}
	
	.img-circles {
		height: 75px;
		width: 75px;
		margin-left: 5%;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.travel__index__title {
		text-align: left;
		font-size: 16px;
		margin-top: 35px;
		margin-bottom: 5px;
	}
	.travel__index__name {
		font-size: 12px;
		font-weight: 600;
	}
	.travel__index__image {
		margin-left: 0%;
	}
	.glyphicon {
		font-size: 20px;
		padding-top: 4px;
	}
	.fa-comment {
		font-size: 18px;
	}
	.comment-now {
		padding-top: 5px;
	}
	.travel-body {
		padding-top: 8px;
		margin-bottom: 15px;
	}
	.travel-image{
		height: 300px;
		width: 355px;
		border: 10px solid #EEEEEE;
		text-align:center;
	}
	.travel-edit-button {
		margin-left: 70%;
		margin-top: 10px;
	}
	.travel-destroy-button {
		margin-left: 0%;
		margin-top: 10px;
	}
	.push-btn {
		font-size: 10px;
		background-color: black;
	}
	//showページ
.img-circled {
	height: 70px;
	width: 100px;
	margin-left: 0%;
	margin-top: 0px;
}
.travels {
	margin-top: 60px;
}
.travel__show__image {
	// margin-right: 5%;
	// text-align: center;
}
.travel__show__name {
	margin-left: 5%;
}
.travel__show__titles {
	margin-left: 0%;
	font-size: 16px;
	font-weight: 500;
}
.travel__show__address {
	margin-top: 5px;
	margin-left: 1%;
	margin-bottom: 10px;
	font-size: 10px;
}
.travel-image{
	height: 300px;
	width: 350px;
}
.travel-edit-button {
	margin-left: 55%;
	margin-top: 10px;
}
.travel-destroy-button {
	margin-left: 0%;
	margin-top: 10px;
}
.push-btn {
	font-size: 12px;
}
.user-comments {
	margin-left: 0%;
	font-size: 8px;
	font-weight: 600;
}
.travel-show-body {
	margin-top: 10px;
	font-weight: 600;
	margin-left: 0%;
}
.travel-comments {
}
.comment-form {
	margin: 0 auto;
	margin-left: 8%;
	margin-top: 20px;
}
.comment-button {
	margin-left: 37%;
	margin-top: 10px;
	margin-bottom: 40px;
}
.destroy-btn {
	text-align: left;
	font-size: 10px;
	margin-right: 0%;
}
.shiori {
	&__title {
		margin-top: 20px;
		margin-bottom: 0px;
		margin-right: 20%;
		font-size: 25px;
	}
}
.fa-bookmark {
	font-size: 45px;
	margin-left: 60%;
	position: fixed;
	z-index: 1;
	margin-top: 20px;
	color: #F0E68C;
}
.shiori-title{
	font-family: "Nico Moji";
	font-size:18px;
	margin-left:25%;
	color:#000033;
	margin-top: 20px;
}
.each-image{
	margin-left: 8%;
}
.shiori__show {
	&__title {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 20px;
		margin-right: 50%;
	}
	&__img {
		margin: 0 auto;
	}
	&__day {
		font-size: 14px;
		margin-bottom: 0px;
	}
	&__days {
		font-size: 14px;
		margin-top: 2px;
		margin-left: 15%;
	}
	&__name {
		font-size: 18px;
		margin-top: 5px;
		margin-left: 15%;
	}
	&__names {
		font-weight: 500;
		margin-top: 2px;
		margin-left: 19%;
		font-size: 12px;
	}
	&__memo {
		font-weight: 600;
		font-size: 18px;
		margin-top: 5px;
		margin-left: 16%;
	}
	&__memos {
		margin-top: 2px;
		margin-bottom: 10px;
		margin-left: 19%;
		font-size: 12px;
	}
	&__edit {
		margin-left: 40%;
		margin-top: 10px;
	}
	&__destroy {
		margin-left: 10%;
		margin-top: 10px;
	}
}
.shiori__show__mini__img {
	width: 90px;
	height: 90px;
	margin-top: 5px;
}
.shiori-btn {
	font-size: 10px;
	padding: 5px;
}

.shiori-image{
	margin-right: 0%;
}
.shiori__show__list {
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 0px;
}
#souvenirs {
}
.souvenir {
	width: 100%;
	margin: 0 auto;
}
.souvenir__title {
	margin: 10px 0px;
	font-size: 20px;
}
.souvenir__total {
	margin-left: 0%;
	font-size: 14px;
	margin-top: 10px;
}
.souvenir__total__price {
	font-size: 14px;
	margin-left: 0%;
}
.table > thead > tr > th {
	padding: 0;
	font-size: 12px;
	font-weight: 600;
}
.table {
	margin-top: 30px;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td { 
	padding: 0;
	font-size: 12px;
	font-weight: 500;
}
.souvenir__destroy__btn {
	font-size: 14px;
}
.souvenir__name {
	font-size: 14px;
	margin-left: 23%;
	padding-top: 15px;
}
.form{
	width: 85%;
	height: 40px;
	padding: 5px;
	font-size: 12px;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.souvenir__btn {
	margin-left: 25%;
	width: 150px;
}
.btn-primary {
	margin-bottom: 0px;
	height:35px;
}
#preparations {
}
.preparation {
	width: 100%;
	margin: 0 auto;
	&__title {
		margin-top: 30px;
		margin-bottom: 15px;
		font-size: 20px;	
	}
	&__name {
		margin-left: 0%;
		font-size: 14px;
	}
	&__box {
		margin-right: 100%;
		margin-top: 0px;
	}
	&__check {
		margin-bottom: 10px;
	}
	&__edit {
		margin-bottom: 5px;
	}
	&__destroy{
		margin-bottom: 10px;
	}
	&__object {
		margin-left: 20%;
		font-size: 16px;
		margin-top: 15px;
	}
}
.preparation-btn {
	font-size: 10px;
	padding: 2px;
}

.preparation-form{
	font-size:16px;
	margin-top:10px;
}
.preparation-forms {
	padding: 5px;
	width: 150px;
}
.preparation__btn {
	margin-left: 25%;
	width: 150px;
}
.shiori-btns {
	font-size: 10px;
	padding: 2px;
}
#schedule {
}
.schedule {
	width: 100%;
	margin: 0 auto;
	&__title {
		margin-top: 30px;
		margin-bottom: 20px;
		text-align: center;
		font-family: 'Itim', cursive;
		font-size: 20px;
	}
	&__sub-title {
		font-size: 16px;
		margin-left: 6%;
		margin: 20px;
		margin-top: 20px;
	}
	&__year {
		font-weight: 600;
		font-size: 20px;
		margin-left: 0%;
	}
	&__year-form {
		font-size: 16px;
		margin-top: 5px;
		margin-left: 0%;
	}
	.schedule-form {
		height: 100px;
		width: 160px;
	}
	&__year-title {
		font-size: 16px;
		margin-left: 0%;
	}
	&__month-title {
		font-size: 16px;
		margin-left: 10%;
		margin-bottom: 10px;
	}
	&__time-title {
		font-size: 16px;
		margin-left: 0%;
	}
	&__plan-title {
		font-size: 12px;
		margin-top: 3px;
		font-weight: 600;
		margin-left: 5px;
	}
	&__edit {
		margin-left: 80%;
		font-size: 14px;
	}
	&__destroy {
		margin-left: 20%;
	}
	.schedule-btn {
		font-size: 10px;
		padding: 5px;
	}
 }
 .global-nav{
	margin-top: 20px;
	margin-left: 5%;
}
.global-nav li{
	float: left;
	margin: 0 10px;
	font-size: 16px;
	list-style: none;
	font-family: 'Anton', sans-serif;
}
.login__btn {
	margin-left: 12%;
	width: 150px;
	margin-bottom: 20px;
}
}
.breadcrumbss {
	width: 100%;
	height: 50px;
	// background-color:#F5F5F5;
	font-weight: 600;
	font-family: 'Itim', cursive;
	font-size: 16px;
	padding-top: 25px;
	text-align: left;
	padding-left: 9%;
	color: #00BFFF;
}
.error{
	background-color:#FFBEDA;
	padding:20px 20px;
	opacity: 0.7;
	margin-bottom:20px;
	text-align: center;
	&__message p{
		color: #000033;
		font-size: 20px;
		margin-bottom: 10px;
		font-weight: 600;
	}
	&__text {
		margin-bottom:10px;
		color:red;
		font-weight: 600;	
	}
	
}