/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// 全体のレイアウト
*{
	margin:0;
	padding:0;
}

// ログイン・新規登録画面
.head-title{
	background: linear-gradient(transparent 50%, #a8eaff 50%);
	padding: 5px 10px;
	margin-left: 50px;
	text-align: center;
}
.head-title2{
	background: linear-gradient(transparent 50%, #86F9C5 50%);
	padding: 5px 10px;
	margin-left: 50px;
	text-align: center;
}
.head-text{
	text-align: center;
	font-size:15px;
	margin-left:100px;
	margin:18px 0;
}
.message{
	margin-left:30%;
	margin-bottom:50px;
	color:red;
}
.error{
	background-color:#FFBEDA;
	padding:20px 20px;
	opacity: 0.7;
	margin-bottom:50px;
}
.actions{
	margin-left:46%;
}
.head-text2{
	background-color: #FFFF88;
	font-size:20px;
}
.head-text3{
	background-color: #FFBEDA;
	font-size:20px;
}
// ヘッダー・フッダー
.title{
	font-family: 'Teko', sans-serif;
	color:#EC8B5E;
	font-size:55px;
	margin-left:5%;
	margin:30px 0px;
	border-bottom: solid 3px;
}
header{
 	margin-bottom: 30px;
}
footer{
	background-color:#EC8B5E;
	height: 70px;
	width: 100%;
	margin-top: 30px;
}
.nav-item-name{
	color:#141A46;
	padding-left:35%;
	font-size:25px;
	font-family: 'Teko', sans-serif;
	padding:5px 0;
}
.nav-item{
	color:white;
	font-size:15px;
	margin-right:5px;
	font-family: 'Permanent Marker', cursive;
}
.my-red {color:#EC8B5E; }



