@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";
@import "home";
@import "comments";
@import "maps";
@import "preparations";
@import "schedules";
@import "shioris";
@import "skippr";
@import "souvenirs";
@import "travels";
@import "users";
@import "breakpoints/base";
@import 'modules/mixin';

@media (min-width: 600px) {
	@import "breakpoints/600up";
}
@media (min-width: 960px) {
  @import "breakpoints/960up";
}
@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}
// 全体のレイアウト
.header {
	display: none;
}


@media only screen and (max-width: 768px) {
  // スマホの場合のcss
	//ハンバーガーメニュー
	#sp-menu {
		width: 60%;
		margin-left: 40%;
	}
	//homeのページ
	.main-visual {

	 &__content{
		 padding-top: 30%;
	 }
	
	 &__text{
		 font-size:45px;
		 margin-left: 5%;
	 }
	
	 &__texts{
		 font-size:45px;
		 margin-left: 13%;
		 margin-top: 0;
	 }
	
	
	 &__sub-text{
		margin-top: 15px;
		font-size:20px;
		text-align: left;
		margin-left:12%;
	 }
	}
	.colona{
		width: 70%;
		margin-top: 25px;
		border-radius: 5px;
		&__text{
			font-size: 12px;
		}
	 }
	 .top-signup{
		width: 80%;
		margin-top: 25px;
		border-radius: 5px;
		&__text{
			font-size: 10px;
		}
	 }
	 //footer
	.logo {
			margin-bottom: 10px;
			margin-top: 20px;
		}
	
 
	.footer {
		width: 100%;
		padding: 5px 10px;
		&__nav {
			padding-top: 5px;
			font-size: 15px;
		}
		&__li {
			margin: 10px;
		}
		&__copyright {
			padding-bottom: 5px;
			padding-left: 8px;
		}
	}
	.link {
		color:black;
		font-weight: bold;
	}
	.anding-video {
		height: 800px;
	}
	.about {
		&__logo {
			width: 65px;
			height: 30px;
			margin-top: 10px;
			margin-bottom:10px;
		}
		&__title {
			font-size: 20px;
			margin-bottom: 1%;
		}
	}
	.login {
		width: 90%;
		&__title {
			font-size: 20px;
			margin-top: 0;
		}
	}

	.form-group{
		width: 100%;
		padding-top: 15px;
		& label{
			font-weight: 600;
			display: inline-block;
			touch-action: manipulation;
			font-size: 16px;
		}
	 }
	 /* ボタン */
	.action {
		width: 70%;
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 5%;
	&__link {
		margin-top: 15px;
		font-size: 14px;
		margin-left: 2%;
		margin-bottom: 20px;
	}
	}
	// .inview {
	// 	display: none;
	// }
	.main-title {
		font-size: 22px;
	}
	.sub-title {
		font-size: 15px;
	}
	.travel__description {
		font-size: 16px;
	}
	.sign__title {
		font-size: 20px;
	}
	.sign__title p {
		font-size: 15px;
	}
}
	

.head-title{
	background: linear-gradient(transparent 50%, #a8eaff 50%);
	padding: 5px 10px;
	margin-left: 50px;
	text-align: center;
	font-family: "Nico Moji";
}
.head-title2{
	background: linear-gradient(transparent 50%, #86F9C5 50%);
	padding: 5px 10px;
	margin-left: 50px;
	text-align: center;
	font-family: "Nico Moji";
}
.head-text{
	text-align: center;
	font-size:15px;
	margin-left:100px;
	margin:18px 0;
}
.message{
	margin-left:30%;
	margin-bottom:50px;
	color:red;
}
.error{
	background-color:#FFBEDA;
	padding:20px 20px;
	opacity: 0.7;
	margin-bottom:50px;
}
.actions{
	margin-left:46%;
}
.head-text2{
	background-color: #FFFF88;
	font-size:20px;
}
.head-text3{
	background-color: #FFBEDA;
	font-size:20px;
}

// ヘッダー・フッダー
.title{
	font-family: 'Teko', sans-serif;
	color:#EC8B5E;
	font-size:60px;
	margin-left:15%;
	margin-top:15px;
	border-bottom: solid 3px;
}
.nam-ti{
	font-size:100px;
	color:navy;
}
.nam-ti2{
	font-size:80px;
	color:navy;
}

.nav-item-name{
	color:#696969;
	padding-left:35%;
	font-size:35px;
	font-family: 'Teko', sans-serif;
	padding:5px 0;
}
.nav-item{
	color:white;
	font-size:15px;
	font-family: 'Permanent Marker', cursive;
}
.new-nav-item{
	font-size:20px;
	font-family: 'Permanent Marker', cursive;
}
.new-nav-item2{
	font-size:20px;
	font-family: 'Permanent Marker', cursive;
	margin-left:15px;
}