// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-title{
	background: linear-gradient(transparent 70%, #F0E68C 40%);
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
	font-family: "Nico Moji";
}
.comment-form{
	width:400px;
	margin-left:28%;
	margin-top:30px;
}
.comment-botan{
	margin-left:35%;
	margin-top:30px;
}