// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment{
	width: 90%;
	margin: 0 auto;
	padding: 5px 10px;
}
.comment-form{
	width:300px;
}
.comment-botan{
	margin-top:20px;
}