// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map{
  height: 700px;
  width:80%;
  margin-left:10%;
  margin-top:30px;
}
.map-sarch{
	margin-left:15%;
}
.map__title{
	font-size: 20px;
	margin-top: 50px;
	margin-bottom:20px;
	margin-left: 0%;
	font-family: "Nico Moji";
}
#address {
	padding: 5px;
}
.address__btns {
	padding: 5px;
	background-color: #00ccff;
}