// Place all the styles related to the preparations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#preparations {
}
.preparation {
	width: 100%;
	margin: 0 auto;
	&__title {
		margin-top: 50px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 25px;
		font-family: 'Anton', sans-serif;	
	}
	&__name {
		margin-left: 50%;
		font-family: 'Itim', cursive;
		font-size: 16px;
		font-weight: 600;
		margin-top: 5px;
	}
	&__box {
		margin-top: 5px;
	}
	&__check {
		margin-bottom: 10px;
	}
	&__edit {

	}
	&__destroy{

	}
	&__object {
		font-weight: 600;
		margin-left: 75%;
		font-size: 16px;
		margin-top: 15px;
	}
}

.preparation__title__sub {
	font-family: 'Itim', cursive;
	font-size: 16px;	
	text-align: center;
}
.new-preparation{
	font-family: 'Itim', cursive;
	font-size:16px;
}
.preparation-btn {
	// font-size: 10px;
	// padding: 5px;
	padding: 5px;
}

.preparation-form{
	font-size:16px;
	margin-top:10px;
}
.preparation-forms {
	padding: 5px;
}
.preparation__btn {
	margin-left: 43%;
	width: 150px;
	margin-top: 15px;
}