// Place all the styles related to the preparations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head-title9{
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
	font-family: "Nico Moji";
	font-size:20px;
	border-bottom: double 2px #87CEFA;
}
.new-preparation{
	font-family: "Nico Moji";
	font-size:23px;
	margin-top:10px;
}
.preparation-title{
	font-family: "Nico Moji";
	font-size:20px;
	text-align: right;
}
.preparation-title2{
	font-family: "Nico Moji";
	text-align: right;
	font-size:20px;
	margin-top:10px;
}
.preparation-form{
	font-size:20px;
	margin-top:10px;
}
.field{
  text-align: right;
  font-size:20px;
  margin-top:15px;
}
.back-botan2{
	margin-top:30px;
	font-family: 'Permanent Marker', cursive;
	font-size:30px;
	margin-left:49%;
}