// Place all the styles related to the Shioris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  padding: 0;
  margin: 0;
}
//index ページ
.new-button2{
	font-family: "Nico Moji";
	position: fixed;
  	top: 200px;
  	right: 50px;
}
.button-title{
	border-bottom: 2px solid yellow;
	font-size:20px;
}
.my-orange{
	color:#5D99FF;
	margin-left:5%;
}
.new-button{
	position:fixed;
	top: 200px;
	right:50px;
}
.head-title6{
	background: linear-gradient(transparent 60%, #99FF99 40%);
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
	font-family: "Nico Moji";
}
.each{
 width:100%;
 margin-top:20px;
}
.shioris-title{
	font-family: "Nico Moji";
	font-size:18px;
	margin-left:35%;
	padding:10px 0;
	color:#000033;
}

.each-image{
 background-position:center;
 margin-bottom:25px;
}
.hoge{
}

//editページ
.head-title7{
	background: linear-gradient(transparent 60%, #66CCFF 40%);
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
	font-family: "Nico Moji";
}

//showページ
.shiori-title{
	background: linear-gradient(transparent 60%, #00CC99 50%);
	margin: 15px 10px;
	margin-left: 40%;
	text-align: center;
	font-size:35px;
	font-family: "Nico Moji";
	width:200px;
}
.shiori-image{
	width:600px;
	height:450px;
	background-size: cover;
	margin-left:15%;
}
.side-bar{
	font-family: "Nico Moji";
	font-size:25px;
	margin-bottom:10px;
	background: linear-gradient(transparent 90%, gray );
}

