// Place all the styles related to the souvenirs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//newページ
.head-title7{
	background: linear-gradient(transparent 60%, #99FF99 40%);
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
	font-family: "Nico Moji";
}