// Place all the styles related to the souvenirs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//newページ
.head-title7{
	background: linear-gradient(transparent 60%, #99FF99 40%);
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
	font-family: "Nico Moji";
}
.head-title8{
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
	font-family: "Nico Moji";
	font-size:20px;
}
.travel-form3{
	margin-left:60%;
}
.travel-form4{
	font-family: 'Teko', sans-serif;
	font-size:15px;
	font-family: "Nico Moji";
}
.total{
	font-size:18px;
	margin-left:40%;
	margin-top:23px;
	border-bottom: double 2px #F08080;
}
.total-price{
	margin:20px 0;
	padding:4px 0;
	font-size:15px;
	border: solid #F0E68C; 
	border-bottom-width: 5px;
	padding-left:60px;
}