// Place all the styles related to the travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//newページ
.head-title4{
	background: linear-gradient(transparent 50%, #FFC7AF 50%);
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
}
.head-title5{
	background: linear-gradient(transparent 50%, #00CC99 50%);
	padding: 5px 10px;
	margin-left: 15%;
	text-align: center;
}